
// DEFAULT STYLES


html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: $ff-inter;
  font-size: 15px;
  color: $color-main-dark;
  background: $color-main-light;

  @include mq(tablet) {
    font-size: 16px;
  }
}

.container { // 438+20+20=478
  display: block;
  max-width: $container-mob;
  margin: 0 auto;
  padding: $paddings-mob;

  @include mq(tablet) { //931+30+30=991
    max-width: $container-tab;
    padding: $paddings-tab;
  }

  @include mq(desktop) { //1780+30+30=1840 + auto(40+40)=1920
    max-width: $container-desk;
    padding: $paddings-desk;
  }
  @include mq(xl) {
    padding: $paddings-xl;
  }
}

button {
  font-family: $ff-gilroy-semibold;
  font-size: 25px;
  line-height: 1.172;
  color: $color-main-dark;
  background: none;
  border: none;
  cursor: pointer;
}

.button {
  border-radius: 50px;
  width: max-content;
  max-width: 100%;

  &--white {
    background: $color-minor-light;
    padding: 18px 40px;

    @include mq(desktop) {
      padding: 18px calcSize(40, $desk);
    }

    @include mq(xl) {
      padding: 18px 40px;
    }
  }

  &--black {
    color: $color-minor-light;
    background: $color-main-dark;
    position: relative;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;

    &::after {
      content: url('./../../img/icons/arrowright-white.svg');
      width: 24px;
      height: 18px;
      object-fit: contain;
      object-position: center;
    }
  }
}


// SOCIALS

.socials {
  display: flex;
  gap: calcSize(20, $mob); //by brief 20px

  @include mq(tablet) {
    gap: 20px;
  }

  &__item-link {
    cursor: pointer;
  }

  &__item-img {
    width: calcSize(50, $mob); //by brief 50px
    height: calcSize(50, $mob); //by brief 50px
    object-fit: contain;
    object-position: center;

    @include mq(tablet) {
      width: 50px;
      height: 50px;
    }
  }
}


// TILES (GALLERY ITEMS for TEAM)

.tile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  @include mq(tablet) {
    align-items: end;
  }

  &__person {
    width: 100%;
    color: $color-minor-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;

    @include mq(tablet) {
      align-items: start;
      text-align: start;
    }
  }

  &__name {
    font-family: $ff-gilroy-regular;
    font-size: calcSize(30, $mob); //by brief 30px
    font-weight: 800;
    line-height: 1.225;
    padding-bottom: 5px;

    @include mq(tablet) {
      font-size: calcSize(30, $tab); // by brief 30px
    }

    @include mq(desktop) {
      font-size: calcSize(30, $desk); // by brief 30px
    }

    @include mq(xl) {
      font-size: 30px; // by brief 30px
    }
  }

  &__position {
    font-family: $ff-gilroy-medium;
    font-size: calcSize(20, $mob); // by brief 20px
    line-height: 1.172;

    @include mq(tablet) {
      font-size: calcSize(20, $tab); // by brief 20px
    }

    @include mq(desktop) {
      font-size: calcSize(20, $desk); // by brief 20px
    }

    @include mq(xl) {
      font-size: 20px; // by brief 20px
    }

  }

  &__img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 438 / 507;
    filter: grayscale(1);
  }

  &__socials {
    gap: 10px;

    & img {
      width: 30px;
      height: 30px;
    }
  }
}


  // CTA (call-to-action)

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  @include mq(tablet) {
    align-items: start;
  }

  &__subtitle {
    font-family: $ff-gilroy-regular;
    font-size: calcSize(30, $mob); // by brief 30px
    line-height: 1.172;

    @include mq(tablet) {
      font-size: 30px //  by brief 
    }
  }

  &__title {
    font-family: $ff-gilroy-bold;
    font-size: calcSize(40, $mob); // by brief 40px
    line-height: 1.172;
    text-align: center;

    @include mq(tablet) {
      font-size: calcSize(64, $tab); // by brief 64px
      text-align: left;
    }

    @include mq(desktop) {
      font-size: calcSize(62, $desk); // by brief 64px
    }

    @include mq(xl) {
      font-size: 60px; // by brief 64px
    }
  }

  &__button {
    width: 100%;

    @include mq(tablet) {
      width: max-content;
    }
  }
}
