
// FONTS on the project


// MAJOR FONT

@font-face {
  font-family: 'Gilroy-Light';
  src: local('Gilroy-Light'), url('./../../fonts/gilroy/Gilroy-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: local('Gilroy-Medium'), url('./../../fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: local('Gilroy-Medium'), url('./../../fonts/gilroy/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy-Semibold';
  src: local('Gilroy-Bold'), url('./../../fonts/gilroy/Gilroy-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: local('Gilroy-Medium'), url('./../../fonts/gilroy/Gilroy-Bold.ttf') format('truetype');
}


@font-face {
  font-family: 'Gilroy-Extrabold';
  src: local('Gilroy-Medium'), url('./../../fonts/gilroy/Gilroy-ExtraBold.ttf') format('truetype');
}

// MINOR FONT

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



//************    FONTS VARIABLES *************//

$ff-gilroy-light: 'Gilroy-Light', sans-serif;
$ff-gilroy-regular: 'Gilroy-Regular', sans-serif;
$ff-gilroy-medium: 'Gilroy-Medium', sans-serif;
$ff-gilroy-semibold: 'Gilroy-Semibold', sans-serif;
$ff-gilroy-bold: 'Gilroy-Bold', sans-serif;


$ff-inter: "Inter", sans-serif;


//************    TITLES FONTS   *************//

$ff-title--main: $ff-gilroy-semibold;
$ff-title--section: $ff-gilroy-regular;


.title {
  text-transform: uppercase;

  &--main {  //main title
    font-family: $ff-title--main;
    font-size: calcSize(56, $mob); //by brief 57px
    line-height: 1.172;

    @include mq(tablet) {
      font-size: calcSize(120, $tab); //by brief 120px
    }

    @include mq(desktop) {
      font-size: calcSize(150, $desk); //by brief 150px
    }
    @include mq(xl) {
      font-size: 150px;
    }
  }

  &--section {  //section titles
    font-family: $ff-title--section;
    font-size: calcSize(80, $mob); //by brief 80px
    font-weight: 300;
    line-height: 1.153;
    text-align: center;
    max-width: 100%;

    @include mq(tablet) {
      font-size: calcSize(150, $tab); // by brief 150px
    }

    @include mq(desktop) {
      font-size: calcSize(184, $desk); // by brief 212px
    }

    @include mq(xl) {
      font-size:  184px; // by brief 212px
    }
  }
}
